.container {
  display: flex;
  justify-content: center;
  row-gap: 90px;
  align-items: center;
  flex-direction: column;

  & h1,
  button {
    position: relative;
    z-index: 2;
  }
}
.servicesContainer {
  width: 90%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  position: relative;
  z-index: 2;

  & .serviceContainer:first-of-type {
    border-top: none;
  }
  font-size: var(--font-size-5) !important;
}
.serviceContainer {
  width: 100%;
  padding: 20px;
  border-top: 2px solid var(--light-color);
  display: grid;
  grid-template-columns: 1fr 2fr;

  & p,
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.descriptionService {
  border-left: 2px solid var(--light-color);
  font-size: var(--font-size-4);
  text-indent: 10px;
  padding-left: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .serviceContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .descriptionService {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 10px;
    padding-left: none;
    border-left: none;
  }
}
