.container {
  max-width: 200px;
  border: none;
  cursor: pointer;
  font-size: var(--font-size-5);
  color: var(--light-color);
  background: transparent;
  font-family: "Gothic";
  text-shadow: 2px 2px var(--shadow-color), 0 0 15px var(--background-secondary),
    0 0 15px var(--background-secondary), 0 0 15px var(--background-secondary),
    0 0 15px var(--background-secondary);
}
