.container {
  height: auto !important;
  position: relative;
}
.background {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  position: relative;
  width: 100%;
  z-index: 1;
  padding: 150px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.sliderContainer {
  width: 70vw;
  height: 70vh;
  position: relative;
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.sliderItem {
  height: 100%;
  position: absolute;
  top: 0;
  left: calc(100% * var(--itemIndex));
  display: flex;
  flex-direction: column;
  align-items: center;
  & p {
    margin: 10px 0;
    font-weight: 700;
  }
}

.openButton {
  margin-top: 20px;
}
.rightArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-25%) translateX(120%);
  right: 0;
  cursor: pointer;
  filter: drop-shadow(0.2vw 0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
  &:hover {
    transform: translateX(calc(-0.1vw + 120%)) translateY(calc(-0.1vw - 25%));
    filter: drop-shadow(0.27vw 0.27vw var(--shadow-color))
      drop-shadow(0 0 7px var(--background-secondary))
      drop-shadow(0 0 7px var(--background-secondary));
  }
}
.leftArrow {
  position: absolute;
  top: 50%;
  transform: rotateZ(180deg) translateY(25%) translateX(120%);
  left: 0;
  cursor: pointer;
  filter: drop-shadow(-0.2vw -0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
  &:hover {
    transform: translateX(calc(-0.1vw - 120%)) translateY(calc(-0.1vw - 25%))
      rotateZ(180deg);
    filter: drop-shadow(-0.27vw -0.27vw var(--shadow-color))
      drop-shadow(0 0 7px var(--background-secondary))
      drop-shadow(0 0 7px var(--background-secondary));
  }
}
.contor {
  display: flex;
  gap: 10px;

  & svg {
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .mediaPhotos {
    width: 70vw;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    border-radius: 4px;

    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* &:active {
      &::after {
        content: "www";
        position: absolute;
        inset: 0 0 0 0;
        background: red;
        z-index: 10;
      }
    } */
    & section {
      flex: 1;
      min-height: 0;
      overflow: hidden;
      transition: 0.3s;

      &:active {
        & img {
          object-fit: contain;
          /* pointer-events: none; */
        }
      }

      &:active + * {
        flex: 0;
      }
      &:active + * + * {
        flex: 0;
      }
      &:has(+ *:active) {
        flex: 0;
      }
      &:has(+ * + *:active) {
        flex: 0;
      }
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}
@media (min-width: 767px) {
  .mediaPhotos {
    width: 70vw;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    border-radius: 4px;

    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    & section {
      flex: 1;
      cursor: pointer;
      overflow: hidden;
      transition: 0.3s;

      &:active {
        & img {
          object-fit: contain;
        }
      }
      &:active + * {
        flex: 0;
      }
      &:active + * + * {
        flex: 0;
      }
      &:has(+ *:active) {
        flex: 0;
      }
      &:has(+ * + *:active) {
        flex: 0;
      }
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      &:hover {
        flex: 1.1;
      }
    }
  }
}
