.container {
  position: relative;
  z-index: 1;
  width: 80%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: var(--background-secondary);
  overflow: hidden;
  border-radius: 10px;
  & h1 {
    width: 90%;
    text-align: center;
  }
  & p {
    width: 90%;
    text-align: justify;
    font-size: var(--font-size-4);
    text-indent: 20px;
  }
}
