.containerMobile {
  width: 100vw;
  min-height: 200vh;
  overflow: visible;
  display: flex;
  flex-direction: column;

  & section:last-of-type {
    animation-name: none;
    animation-timing-function: none;
    animation-timeline: none;
    animation-range: none;
    opacity: 1;
  }

  & section {
    width: 100%;
    height: 100vh;
    position: relative;
    /* position: sticky;
    top: 0; */

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: projectDisapear;
    animation-timing-function: linear;
    animation-timeline: view();
    animation-range: exit 0% exit 100%;
    opacity: 1;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    & button {
      position: absolute;
      bottom: 70px;
      left: 50%;
      transform: translateX(-50%);
      font-size: var(--font-size-5) !important;
      cursor: pointer;
    }
  }
}
.title {
  position: relative;
  margin: 70px 0;
  width: 100%;
  text-align: center;
  z-index: 4;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  padding-bottom: 200px;
  gap: 100px;

  & section {
    width: 80%;
    /* height: 700px; */
    /* display: flex; */

    & img {
      float: left;
      width: 30%;
      height: auto;
      object-fit: cover;
      object-position: center;
      margin: 20px;
    }
    & p {
      padding: 40px;
      text-indent: 20px;
      font-size: var(--font-size-4);
      /* width: 50%; */
      background: var(--background-secondary);
      text-align: justify;
    }
  }
}

@keyframes projectDisapear {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 1;
  } */
  100% {
    opacity: 0;
  }
}
