.container {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--background-secondary);
  overflow: hidden;
  border-radius: 10px;

  & article {
    height: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & p {
      font-size: var(--font-size-4);
    }
  }
}
.container[data-orientation="default"] {
  flex-direction: row;
}
.container[data-orientation="reverse"] {
  flex-direction: row-reverse;
}
.imageContainer {
  height: 100%;
  flex: 1;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media (max-width: 768px) {
  .container[data-orientation="default"] {
    flex-direction: column !important;
  }
  .container[data-orientation="reverse"] {
    flex-direction: column-reverse !important;
  }
}
