.container {
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.backdrop {
  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(
      180deg,
      var(--background-transparent) 0%,
      var(--background-transparent) 60%,
      var(--background) 100%
    );
    /* box-shadow: inset 0 0px 50px 30px var(--background-secondary); */
    z-index: 0;
  }
}
.cornerTopLeft {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 90;
  filter: drop-shadow(0.2vw 0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
}
.cornerTopRight {
  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 90;
  transform: scaleX(-1);
  filter: drop-shadow(-0.2vw 0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
}
.cornerBottomLeft {
  position: absolute;
  bottom: 3px;
  left: 3px;
  z-index: 90;
  transform: scaleY(-1);
  filter: drop-shadow(0.2vw -0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
}
.cornerBottomRight {
  position: absolute;
  bottom: 3px;
  right: 6px;
  z-index: 90;
  transform: scaleY(-1) scaleX(-1);
  filter: drop-shadow(-0.2vw -0.2vw var(--shadow-color))
    drop-shadow(0 0 7px var(--background-secondary))
    drop-shadow(0 0 7px var(--background-secondary));
}
