.container {
  position: relative;
  z-index: 1;
  min-height: 100%;

  & section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  & label {
    font-size: var(--font-size-4);
  }
}
